<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game Coven</title>
    <link rel="stylesheet" href="/css/jass.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" type="image/x-icon" href="/images/logo.png">
</head>

<body>
    <header class="display-flex flex-col justify-space-between align-center p-2">
        <div class="logo">
            <div class="image-title"> 
                <img src="/images/logo.png" alt="Game Coven Logo">
                <a href="/">
                    <h1>Game Coven</h1>
                </a>
            </div>

            <nav>
                <!-- Conditionally render login or logout links -->
                {{#if logged_in}}
                <a href="/profile">profile</a> |
                <button class="no-button" id="logout">logout</button>
                {{else}}
                <a href="/login">Login</a>
                <a href="/signup">Sign up</a>
                {{/if}}
            </nav>
        </div>
    </header>
    <main class="container container-fluid mt-5">
        <!-- Render the sub layout -->
        {{{ body }}}
    </main>
    {{#if logged_in}}
    <script src="/js/logout.js"></script>
    {{/if}}
</body>

</html>