<div>
    <p>Add your review here for {{name}}</p>

    <form class="review" id="review" >
        <label for="score">Your score of this game:</label>
        <input type="number" id="score" name="score" min="1" max="10">


        <label for="review-description">Description:</label>
        <textarea id="review-description" name="review-description" rows="4" cols="50"></textarea>

        
        <button type="submit" id="add-review-btn">Login</button>
    </form>

    
</div>

<script src="/js/review.js"></script>