<div>
            <!-- Navigation bar or other common elements NEEDED! -->
     <div id="latest-posts">
                    <!-- Latest posts will be here -->
    </div>

    <form id="login-form">
       
        <script src="../public/js/login.js"></script>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        <button type="submit">Login</button>
    
    </form>
</div>
<script src="../package.json" defer></script>
<script src="../public/js/comments.js" defer></script>
<script src="../public/js/homepage.js" defer></script>


