<div>
        <!-- Navigation bar here -->
         <form id="login-form">
        <label for="emailLogin">Email:</label>
        <input type="email" id="emailLogin" name="emailLogin" required>
        
        <label for="passwordLogin">Password:</label>
        <input type="password" id="passwordLogin" name="passwordLogin" required>
        
        <button type="submit" id="loginBtn">Login</button>
    </form>

    
</div>

    <script src="../package.json"defer></script>
    <script src="../public/js/login.js"defer></script>
