<div>
    <!-- Navigation bar here -->
    <h1>Hello, {{name}}</h1>

    {{#if reviews.length}}
    <div class="flex-container-game">
        <h3>Your Reviews</h3>

        {{#each reviews as |review|}}
        <section id="boxReview">
            <div class="flex-container-review">
                <h4>{{review.game.name}}</h4>
                <h5>Score {{review.score}}/10</h5>
                <h6>{{review.description}}</h6>
            </div>
        </section>
        {{/each}}
    </div>
    {{/if}}

</div>
