<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <!-- CSS here -->
</head>
    <body>
    <!-- Navigation bar here -->
    <h1>User Profile</h1>

     <ul id="comments-list">
     <!-- User comments will be inserted here -->
     </ul>

        <script src="../package.json"></script>
        <script src="../public/js/profile.js"></script>

    </body>
</html>
