<div>
    <!-- Navigation bar here -->
    <h1>User Profile</h1>

     <ul id="comments-list">
     <!-- User comments will be inserted here -->
     </ul>

</div>

        <script src="../package.json"></script>
        <script src="../public/js/profile.js"></script>