<div>
    <form id="signup">
      <h3>Signup</h3>
      <label for="name-signup">Name:</label>
      <input  type="text" id="name-signup" required/>

      <label for="email-signup">Email:</label>
      <input type="text" id="email-signup" required/>

      <label for="password-signup">Password:</label>
      <input type="password" id="password-signup" required/>

      <button id="signupBtn" type="submit">Signup</button>
    </form>
  </div>

  <!-- put signup.js link here-->